@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">

        

            <h1 class="display-4">ELYON PROJETO INTEGRADO PARTE 4</h1>
            <p> MARKET PLACE- INDIVIDUALS SERVING COMPANIES</p>

            <footer>
                <p>ElyonConsulting </p>
                <p>Fone +5511 999999999</p>
            </footer>

    </div>

    
</body>
<style>
    body{
        background-image: url("./reuniao.jpg");
        background-size:cover;
        background-color: azure;
    }
</style>
