@{
    ViewData["Title"] = "FaleConosco";
}
<h1>@ViewData["Title"]</h1>

<p style="background-color:Tomato;"> Mande uma Mensagem de Sugestão de novos serviços</p>

<td>
    
    <textarea></textarea>
    <div class="button">
        <button type="submit">Enviar sua mensagem</button>
    </div>

</td>

<style>
    body 
    {
        background-color: #cccccc;
        background-image:url("./reuniao.jpg");
        background-size: cover;
    }
</style>