@model PacotesTuristicos

@{
    ViewData["Title"] = "Editar";
}

<form method="POST" asp-action="Editar">
    <input type="hidden" asp-for="Id">
<p>
    <label asp-for="Nome">Nome:</label>
    <input asp-for="Nome">
</p>

<p>
    <label asp-for="estado">estado:</label>
    <input asp-for="estado">
</p>
<p>
    <label asp-for="produto">produto:</label>
    <input asp-for="produto" type="string">
</p>
<p>
    <label asp-for="cv">cv:</label>
    <input asp-for="cv" type="string">
</p>
<p>
    <label asp-for="Usuario">Usuario:</label>
    <input asp-for="Usuario">
</p>
<p>
   <input type="submit" value="Salvar Edição"> 
</p>
</form>
<p>
   @ViewBag.Mensagem
</p>